.idea
.DS_Store
/.fluence/secrets
/.fluence/provider-secrets.yaml
/.fluence/schemas
/.fluence/tmp
/.fluence/service-configs
/.fluence/aqua-dependencies/package.json
src/frontend/src/compiled-aqua/
**/node_modules
**/target/
.repl_history
